/***** BIBLE CONFIG *****/

:root{
    /* FIRST MENU */
    --first-wd: 300px;
    /* RESULTS */
    --results-cancel-fnsz: 16px;
    --results-item-title-fnsz: 16px;
    --results-item-text-fnsz: 16px;
    /* FIRST LIST */
    --first-list-fnsz: 16px;
    /* SECOND LIST */
    --second-list-fnsz: 16px;
    /* SCREEN */
    --screen-fnsz: 5vw;
    --screen-h1-fnsz: 4vw;
    --screen-h1-span-fnsz: 2vw;
    --screen-h4-fnsz: 2vw;
    /* PREVIEW */
    --preview-fnsz: 16px;
}