/******************************/
/* CONFIGURACIONES GENERALES */
/****************************/

:root{
    --transition-time: .25s;
    --disabled-opacity-default: .4;
    --background-color-default: var(--color-black-extra-total);
    --border-radius: 10px;
}