/***** MENU *****/

body > #app > #menu{
    position: absolute;
    width: var(--menu-wd);
    height: 100%;
    left: 0;
    background-color: var(--color-black-extra-dark);
}

/*** FIRST ***/

body > #app > #menu > #first{
    position: absolute;
    width: var(--first-wd);
    height: 100%;
    left: 0;
    background-color: var(--color-red-medium);
}

body > #app > #menu > #first > #header{
    position: absolute;
    width: 100%;
    height: var(--header-hg);
    background-color: var(--color-red-dark);
    padding: calc((var(--header-hg) - var(--actionButton-sz)) / 2) 10px;
    text-align: right;
}

body > #app > #menu > #first > #header > .label{
    display: block;
    float: left;
    width: calc(100% - var(--actionButton-sz));
    color: var(--color-white-light);
    line-height: calc(var(--header-hg) - (((var(--header-hg) - var(--actionButton-sz)) / 2) * 2));
}

body > #app > #menu > #first > #header > .actionButton{
    display: inline-block;
}

body > #app > #menu > #first > #header > .actionButton:hover:not(:disabled){
    background-color: var(--color-red-extra-dark);
}

body > #app > #menu > #first > #header > .actionButton:active:not(:disabled){
    background-color: var(--color-red-darker);
}

body > #app > #menu > #first > #main{
    position: absolute;
    width: 100%;
    top: var(--header-hg);
    bottom: 0;
}

body > #app > #menu > #first > #main > .container .scrollButton:hover:not(:disabled){
    background-color: var(--color-red-dark);
}

body > #app > #menu > #first > #main > .container .scrollButton:active:not(:disabled){
    background-color: var(--color-red-extra-dark);
}

body > #app > #menu > #first > #main > .container > .main > .list::-webkit-scrollbar-thumb{
    background-color: var(--color-red-dark);
}

body > #app > #menu > #first > #main > .container > .main > .list::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-red-extra-dark);
}

body > #app > #menu > #first > #main > .container > .main > .list::-webkit-scrollbar-thumb:active{
    background-color: var(--color-red-darker);
}

body > #app > #menu > #first > #preview{
    position: fixed;
    height: auto;
    max-height: 400px;
    top: 0;
    left: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color-black-dark);
    color: var(--color-white-medium);
    font-family: "Heebo";
    font-weight: 300;
    font-size: var(--preview-fnsz);
    z-index: 10;
    overflow-y: hidden;
}

body > #app > #menu > #first > #preview span{
    display: block;
    padding-left: 20px;
}

body > #app > #menu > #first > #preview h1{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: calc(var(--preview-fnsz) + 4px);
    line-height: calc(var(--preview-fnsz) + 10px);
    color: var(--color-white-extra-light);
    padding: 10px 0 5px 0;
}

body > #app > #menu > #first > #preview h1 > span{
    display: none;
}

/*** SECOND ***/

body > #app > #menu > #second{
    position: absolute;
    width: calc(100% - var(--first-wd));
    height: 100%;
    right: 0;
    background-color: transparent;
}

body > #app > #menu > #second > #header{
    position: absolute;
    width: 100%;
    height: var(--header-hg);
    padding: calc((var(--header-hg) - var(--inputText-hg)) / 2) 10px;
}

body > #app > #menu > #second > #header > .inputTextButton{
    width: 100%;
}

body > #app > #menu > #second > #header > .inputTextButton > .inputText{
    background-color: var(--color-black-dark);
    color: var(--color-white-extra-light);
}

body > #app > #menu > #second > #header > .inputTextButton > .inputText:focus{
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #header > .inputTextButton > .actionButton{
    background-color: var(--color-black-dark);
}

body > #app > #menu > #second > #header > .inputTextButton > .actionButton:hover:not(:disabled){
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #header > .inputTextButton > .actionButton:active:not(:disabled){
    background-color: var(--color-black-light);
}

body > #app > #menu > #second > #header > #results{
    position: fixed;
    width: calc((var(--menu-wd) - var(--first-wd)) - 20px);
    height: calc(100% - (var(--header-hg) + 10px));
    left: calc(var(--first-wd) + 10px);
    top: var(--header-hg);
    border-radius: 10px;
    background-color: var(--color-black-dark);
    z-index: 10;
}

body > #app > #menu > #second > #header > #results .scrollButton:hover:not(:disabled){
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #header > #results .scrollButton:active:not(:disabled){
    background-color: var(--color-black-light);
}

body > #app > #menu > #second > #header > #results > #main{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: calc(var(--actionButton-sz) + 15px);
}

body > #app > #menu > #second > #header > #results > #main > .container > .main > .list::-webkit-scrollbar-thumb{
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #header > #results > #main > .container > .main > .list::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-black-light);
}

body > #app > #menu > #second > #header > #results > #main > .container > .main > .list::-webkit-scrollbar-thumb:active{
    background-color: var(--color-black-extra-light);
}

body > #app > #menu > #second > #header > #results > #main > .container > .main > .list > div > .header{
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #header > #results > #footer{
    position: absolute;
    width: 100%;
    height: calc(var(--actionButton-sz) + 15px);
    bottom: 0;
    padding: 5px 10px 10px 10px;
}

body > #app > #menu > #second > #header > #results > #footer > button{
    width: 100%;
    height: var(--actionButton-sz);
    background-color: var(--color-black-medium);
    border-radius: 10px;
	color: var(--color-white-extra-light);
    padding: 0 10px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--results-cancel-fnsz);
}

body > #app > #menu > #second > #header > #results > #footer > button:hover:not(:disabled){
    background-color: var(--color-red-light);
}

body > #app > #menu > #second > #header > #results > #footer > button:active:not(:disabled){
    background-color: var(--color-red-medium);
}

body > #app > #menu > #second > #main{
    position: absolute;
    width: 100%;
    top: var(--header-hg);
    bottom: 0;
}

body > #app > #menu > #second > #main > .tab > .header > button{
    color: var(--color-gray-extra-light);
}

body > #app > #menu > #second > #main > .tab > .header > button:hover:not(:disabled):not(.selected){
    background-color: var(--color-black-dark);
}

body > #app > #menu > #second > #main > .tab > .header > button:active:not(:disabled):not(.selected){
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #main > .tab > .header > button.selected{
    color: var(--color-white-extra-light);
    background-color: var(--color-black-dark);
}

body > #app > #menu > #second > #main > .tab > .main > div > .main{
    width: 100%;
    height: calc(100% - (var(--inputText-hg) + (var(--label-fnsz) + 4px) + 15px));
    padding: 5px 10px;
}

body > #app > #menu > #second > #main > .tab > .main > div > .main *{
    position: initial;
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > .container{
    background-color: var(--color-black-dark);
    border-radius: 10px;
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > .container > .main{
    height: calc(100% - ((var(--scrollButton-sz) + 10px) * 2));
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > #booksTab > .main > .list > .label{
    margin-bottom: 10px;
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > .container .scrollButton:hover:not(:disabled){
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > .container .scrollButton:active:not(:disabled){
    background-color: var(--color-black-light);
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > .container .list::-webkit-scrollbar-thumb{
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > .container .list::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-black-light);
}

body > #app > #menu > #second > #main > .tab > .main > div > .main > .container .list::-webkit-scrollbar-thumb:active{
    background-color: var(--color-black-extra-light);
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer{
    width: 100%;
    height: calc(var(--inputText-hg) + (var(--label-fnsz) + 4px) + 15px);
    padding: 0 10px 10px 10px;
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer > .label{
    height: auto;
    color: var(--color-gray-extra-light);
    margin-bottom: 5px;
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer > .inputTextButton{
    width: 100%;
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer > .inputTextButton > .inputText{
    background-color: var(--color-black-dark);
    color: var(--color-white-extra-light);
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer > .inputTextButton > .inputText:focus{
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer > .inputTextButton > .actionButton{
    background-color: var(--color-black-dark);
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer > .inputTextButton > .actionButton:hover:not(:disabled){
    background-color: var(--color-black-medium);
}

body > #app > #menu > #second > #main > .tab > .main > div > .footer > .inputTextButton > .actionButton:active:not(:disabled){
    background-color: var(--color-black-light);
}