/******************************/
/****** ESTANDARIZACION ******/
/****************************/

/* TODO */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    vertical-align: baseline;
    background: transparent;
    cursor: default;
    border: none;
    outline: none;
}

/* SCROLL */

::-webkit-scrollbar{
    width: var(--scroll-width);
    border: var(--scroll-border-width) solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb{
    width: var(--scroll-width);
    border: var(--scroll-border-width) solid transparent;
    border-radius: calc(var(--scroll-width) / 2);
    background-clip: padding-box;
    box-shadow: inset 0 0 0 10px transparent;
}

:hover::-webkit-scrollbar-thumb{
    box-shadow: var(--scroll-box-shadow);
}

::-webkit-scrollbar-thumb:hover{
    box-shadow: var(--scroll-box-shadow-hover);
}

::-webkit-scrollbar-thumb:active{
    box-shadow: var(--scroll-box-shadow-active);
}

/* ELEMENTOS */

button, a{
    cursor: pointer;
    background-color: transparent;
    transition: var(--transition-time) all;
    text-decoration: none;
}

button *, a *{
    cursor: pointer;
}

button:disabled, a:disabled{
    cursor: not-allowed;
    opacity: var(--disabled-opacity-default);
}

button:disabled *, a:disabled *{
    cursor: not-allowed;
}

textarea, input[type="text"], input[type="number"], input[type="search"]{
    cursor: pointer;
    transition: var(--transition-time) all;
}

textarea:focus, input[type="text"]:focus, input[type="number"]:focus, input[type="search"]:focus{
    cursor: text;
}

/* BODY */

title{
    text-transform: capitalize;
}

body{
    scroll-behavior: smooth;
    background-color: var(--background-body-color);
    overflow: hidden;
}