/******************************/
/*********** ERROR ***********/
/****************************/

#error{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 333;
    background-color: var(--error-background-color);
}

#error > div{
    width: 100%;
    height: 100%;
    padding: 10px;
}

#error > div > #error-message{
    width: var(--error-message-width);
    max-width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--background-color-default);
    padding: var(--container-total-scrolling-padding);
    overflow-y: scroll;
}

#error > div > #error-message > #error-message-title{
    display: block;
    width: 100%;
    height: auto;
    font-family: "Quicksand";
    font-weight: 300;
    font-size: var(--font-xxlarge);
    color: var(--color-black);
    margin-bottom: 10px;
}


#error > div > #error-message > #error-message-desc{
    display: block;
    width: 100%;
    height: auto;
    font-family: "Heebo";
    font-weight: 300;
    font-size: var(--font-regular);
    color: var(--color-gray-b40);
    margin-bottom: 5px;
}

#error > div > #error-message > #error-message-desc > b{
    color: var(--color-black);
}

#error > div > #error-message > #error-message-actions{
    width: 100%;
    height: auto;
    text-align: right;
    padding: 0 20px;
}

#error > div > #error-message > #error-message-actions > button{
    width: auto;
    height: var(--error-message-button-height);
    border-radius: var(--border-radius);
    padding: 0 15px;
    font-family: "Heebo";
    font-weight: 300;
    font-size: var(--font-medium);
    color: var(--color-black);
}

#error > div > #error-message > #error-message-actions > button:hover:not(:disabled):not(.cancel){
    background-color: var(--color-gray-b95);
}

#error > div > #error-message > #error-message-actions > button:active:not(:disabled):not(.cancel){
    background-color: var(--color-gray-b90);
}

#error > div > #error-messag > #error-message-actionse > button.cancel:hover:not(:disabled){
    background-color: var(--color-red-hover);
}

#error > div > #error-message > #error-message-actions > button.cancel:active:not(:disabled){
    background-color: var(--color-red-active);
}